/* Reset some default browser styles */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  /* Global styles */
  body {
    font-family: Arial, sans-serif;
    background-color: #fff;
    color: #333;
  }
  
  .container {
    max-width: 960px;
    margin: 0 auto;
    padding: 40px;
  }
  
  h1, h2, h3 {
    color: #e6005c;
  }
  
  p {
    margin-bottom: 20px;
  }
  
  ul {
    list-style: none;
  }
  
  a {
    color: #e6005c;
    text-decoration: none;
  }
  
  /* Header */
  header {
    background-color: #e6005c;
    padding: 20px 0;
  }
  
  h1 {
    text-align: center;
    color: #fff;
  }
  
  nav ul {
    display: flex;
    justify-content: center;
    margin-top: 20px;
  }
  
  nav ul li {
    margin: 0 10px;
  }
  
  /* Home Section */
  #home {
    background-color: #f9d9e3;
    padding: 80px 0;
    text-align: center;
  }
  
  .btn {
    display: inline-block;
    background-color: #e6005c;
    color: #fff;
    padding: 10px 20px;
    border-radius: 5px;
    text-transform: uppercase;
    font-weight: bold;
    transition: background-color 0.3s ease;
  }
  
  .btn:hover {
    background-color: #ff3c80;
  }
  
  /* Menu Section */
  #menu {
    padding: 80px 0;
    text-align: center;
  }
  
  .menu-item {
    margin-bottom: 40px;
  }
  
  .menu-item img {
    width: 200px;
    height: 200px;
    border-radius: 50%;
    margin-bottom: 10px;
  }
  
  /* Contact Section */
  #contact {
    background-color: #f9d9e3;
    padding: 80px 0;
  }
  
  input,
  textarea {
    width: 100%;
    padding: 10px;
    margin-bottom: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
  }
  
  button.btn {
    display: block;
    margin: 0 auto;
    background-color: #e6005c;
    color: #fff;
    padding: 10px 20px;
    border-radius: 5px;
    text-transform: uppercase;
    font-weight: bold;
    transition: background-color 0.3s ease;
    cursor: pointer;
  }
  
  button.btn:hover {
    background-color: #ff3c80;
  }
  
  /* Footer */
  footer {
    background-color: #e6005c;
    padding: 20px 0;
    text-align: center;
  }
  
  footer p {
    color: #fff;
  }
  